h1
{
    
    color: black;
    text-align: center;
    text-decoration: underline;
}

body
{
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/38/68/25/1000_F_238682589_sHdFpFiza2nxwQ86vI3PW47LfL1LTjGB.jpg);
    
}

#panneau
{
    display: flex;
    justify-content:center;
    
}

.container_question
{
    
    font-size: x-large;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 400px;
    border: 3px black groove;
    background-color: #e0e0e0e0;
}

#formulaire, #formulaire_edition
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    border: 3px black groove;
    background-color: #e0e0e0e0;
}

form
{
    font-size: 20px;
}

.varicelle
{
    display: flex;
    justify-content: center;
}

